/*VSF Colors */
$vsf-blue: #2278d0;
$vsf-gray: #fafafa;
$vsf-black: #000;
$vsf-white: #fff;
$nav-gray-border: #e7e7e7;
$vsf-pull-out-gray: #f5f5f5;
$vsf-font-color: #808080;

//login screen
$vsf-login-bkgd: #1976d2;
$vsf-login-radial-primary: #64a9ed;
$vsf-login-radial-secondary: #1976d2;