<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta content="<%= _csrf %>" name="csrf-token" />
    <title>Users at Sea</title>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,300,700' rel='stylesheet' type='text/css'>

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/importer.css">
    <!--STYLES END-->
  </head>

  <body>
    <%- body %>

    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/dependencies/angular.min.js"></script>
    <script src="/js/dependencies/angular-ui-router.min.js"></script>
    <script src="/js/dependencies/jquery.min.js"></script>
    <script src="/js/_modules/appModule.js"></script>
    <script src="/js/directives/userCreate.js"></script>
    <script src="/js/directives/userDisplayAll.js"></script>
    <script src="/js/directives/userDisplaySelected.js"></script>
    <script src="/js/directives/userEdit.js"></script>
    <script src="/js/models/githubModel.js"></script>
    <script src="/js/models/userModel.js"></script>
    <script src="/js/routes.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>
